<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zavanton.yoump3">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".app.TheApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_square"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_circle"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.demo.DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.splash.SplashActivity"
                android:theme="@style/SplashTheme">
        </activity>
        <activity
                android:name=".ui.main.activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"/>

        <service
                android:name=".ui.download.service.DownloadService"
                android:exported="false">
        </service>
    </application>

</manifest>